.login-conainer {
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form-conatiner {
    width: 35rem;
    box-shadow: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-bottom: 2rem;
  }
  
  .login-header {
    padding-top: 2rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #00a4a6;
  }
  
  .btn-container-login {
    display: block;
    text-align: center;
    padding-top: 2rem;
  }
  
  .login-btn-cta {
    background-color: #0caa7d;
    padding: 8px 35px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  
  .forgotPass-text {
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(50, 90, 50);
  }
  
  @media screen and (max-width: 585px) {
    .login-form-conatiner {
      width: 22rem;
    }
  }
  