.resetPass-conatiner {
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .resetPass-form-conatiner {
    width: 35rem;
    box-shadow: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-bottom: 2rem;
  }
  
  .resetPass-header {
    padding-top: 2rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #00a4a6;
  }

  .otp-container{
    display: flex;
  }
  
  .btn-container-resetPass {
    display: block;
    text-align: center;
    padding-top: 2rem;
  }
  
  .resetPass-btn-cta {
    background-color: #0caa7d;
    padding: 8px 35px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
  }
  
  .input-text {
    border-radius: 0.5rem;
    border: 1px solid rgb(207, 209, 209);
    height: 1.3rem;
    max-width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  }
  
  .otp-btn{
    padding: 5px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #00a4a6;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    margin-left: 25px;
  }
  
  .invalid-otp{
    color: red;
    font-size: 1.5rem;
   }
  
  .width-50p{
    width: 45%;
  }
  
  @media only screen and (max-width: 600px) {
   .width-50p {
     width: 43%;
   }
  }
  @media only screen and (max-width: 370px) {
   .width-50p {
     width: 40%;
   }
  }
  @media only screen and (max-width: 270px) {
   .width-50p {
     width: 35%;
   }
  }
  
  @media screen and (max-width: 585px) {
    .resetPass-form-conatiner {
      width: 22rem;
    }
  }
  